<section class="form-floating">
    <h2 class="text-body">Create Post</h2>

    <form class="form-signin new-post-form">
        <div class="form-floating">
            <input type="text" class="form-control" name="post-title" id="post-title" style="width: 500px;" />
            <label for="post-title" class="text-body">Title</label>
        </div>
        <div>
            <textarea name="post-body" class="form-control my-3" placeholder="Message"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-main">Submit</button>
        </div>
    </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Post</a></button>

<script src="/javascript/add-post.js"></script>