<main class="row form text-center">
    <form class="form-signin login-form">
        <div class="form-floating">
            <input type="username" class="form-control" id="username-login" />
            <label for="username-login" class="text-body">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password-login" />
            <label for="password-login" class="text-body">Password</label>
        </div>
        <div>
            <button type="submit" class="btn btn-main m-3">Login</button>
        </div>
    </form>
    <a  class="login-link"  href="/signup">Sign-Up Instead</a>
    <script src="/javascript/login.js"></script>
</main>



