:root {
    --primary: #0c9ac6;
    --secondary: #0c9ac6;
    --tertiary: #5c606a;
    --light: #f2f3f4a7;
}
* {
    font-family: Consolas;
    box-sizing: border-box;
    
}

h1 {
    color: black;
}

body {
    background-color: var(--light);
}
header {
    background-color: var(--primary);
    color: white;
}
.page-content {
    height: 100%;
    width: 100%;
    margin-top: 40px;
}
.form {
    max-width: 500px;
    vertical-align: middle;
    margin: auto;
}
.card-header {
    background-color: var(--secondary);
    color: white; 
}

.card-footer {
    background-color: var(--secondary);
}
li {
    color: black;
}
.btn-main {
    background-color: var(--tertiary);
    color: white;
}
.btn-main:hover {
    background-color: var(--secondary);
}
.post-main,
.comment-main {
    padding: 0 18px;
    white-space: pre-wrap;
}